@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62%;
}

body {
  margin: 0 5%;
  font-family: "Noto", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
  height: 12vh;
}

hr.hr {
  border: 0.2px solid;
  position: relative;
  z-index: 1;
  color: #999;
  width: 100%;
}

.logo {
  flex: 1;
  z-index: 1;
  margin-left: 10rem;
}

nav .logo img {
  width: 100px;
}

.nav_item {
  list-style: none;
  display: flex;
  color: #fff;
  z-index: 1;
  font-weight: 100;
  flex: 1;
  justify-content: space-evenly;
  font-size: 1.5rem;
}
/* 
.nav_items {
} */

.bg {
  /* min-height: 100%; */
  /* min-width: 100%; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vw;
  object-fit: cover;
  overflow: hidden;
}

.hero_heading {
  color: #fff;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  margin-top: 150px;
}

.heading,
.hero_text,
.hero_btn {
  z-index: 1;
  margin: 1rem 0;
}

.heading {
  font-size: 4rem;
  font-weight: bolder;
  width: 50vw;
  padding: 0 12%;
  line-height: 60px;
  letter-spacing: 2px;
}

.hero_text {
  width: 50vw;
  font-size: 1.7rem;
  font-weight: 100;
  padding: 0 12%;
  line-height: 30px;
}

.hero_btn {
  border: none;
  padding: 15px 20px;
  border-radius: 50px;
  background-color: #6663e9;
  color: #fff;
  width: 25vh;
  margin-left: 150px;
  font-weight: bold;
}

.hero_btn:hover {
  cursor: pointer;
  background: #6c6bbe;
}

.hero_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  z-index: 1;
  position: relative;
  padding: 30px 40px;
  border-radius: 20px;
  margin-top: 12rem;
}

.hero_logo img {
  width: 100px;
}

.hero_logo {
  display: flex;
  justify-content: space-around;
}

/* .hero_container {
  height: 100vh;
} */
