@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 9%;
  font-family: "Noto", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .2rem;

}

.logo {
  flex: 1;
}

nav .logo img {
  width: 100px;
}

.nav_item {
  list-style: none;
  display: flex;
}

.nav_items {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 3rem;
  font-size: 1.2rem;
}
