@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #0c0c0d;
  color: #fff;
  margin: 0 5%;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  height: 20vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav_link,
.brand_link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.nav_link {
  text-transform: capitalize;
  color: #cccccc;
  font-weight: 400;
}

.nav_item,
.brand_item {
  list-style: none;
}

nav .nav_menu_icon {
  display: none;
}

nav .nav_items {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  overflow-y: hidden;
}

.logo {
  flex: 1;
  margin: auto;
  display: block;
}

.brand_img {
  flex: 1;
  display: block;
}

.brand_img img {
  height: 65%;
  position: absolute;
  top: -1rem;
  overflow: hidden;
}

.nav_button {
  padding: 10px 30px;
  background: #18181a;
  border: none;
  border-radius: 5px;
}

.nav_button:hover {
  background: #222;
  cursor: pointer;
}

/* Hero */
/* .container {
  padding: 0 5%;
} */

main .hero_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero_wrapper .one_ear img {
  width: 220px;
  height: auto;
}

.hero_wrapper .one_ear {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30rem;
}

.hero_wrapper .hero_heading h1 {
  font-size: 3rem;
  color: #cccccc;
  margin-left: 43rem;
  /* width: 50%; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hero_wrapper .hero_content {
  padding: 0 1.5rem;
  width: 40%;
  position: relative;
  left: 39rem;
}

.hero_content h2 {
  margin: 0 3.2rem;
}

.hero_content p {
  font-size: 0.8rem;
  color: #777;
  line-height: 2rem;
  padding: 1rem 3rem;
}

.hero_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin-left: 43rem;
  background-color: #18181a;
  width: 19%;
  text-transform: capitalize;
  color: #777;
  border-radius: 5px;
}

.hero_btn:hover {
  background: #222;
  cursor: pointer;
}

.hero_btn img {
  width: 15px;
  height: 15px;
  margin-right: 1rem;
}

.hero_btn span {
  text-transform: uppercase;
  margin-left: 0.5rem;
  color: #fff;
}

.brands_logo {
  margin: 4rem 0;
  align-items: center;
  justify-content: center;
}

.brand_items {
  display: flex;
  justify-content: space-evenly;
}

.brand_link img {
  width: 70px;
}

.brand_link img:hover {
  color: black;
}
