@media screen and (max-width: 700px) {
  .brand_img img {
    display: none;
  }
  nav .nav_items {
    display: none;
  }

  nav .nav_menu_icon {
    display: block;
    margin: auto;
  }

  nav .nav_menu_icon i {
    color: #fff;
    font-size: 2rem;
  }

  .hero_wrapper .one_ear {
    max-width: 100%;
    margin: auto;
  }

  .hero_wrapper .one_ear img {
    width: 100px;
  }

  .hero_wrapper .hero_heading h1 {
    width: 100%;
    margin: 2rem 0;
    font-size: 1.5rem;
  }
  .hero_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero_wrapper .hero_content {
    width: 100%;
    position: absolute;
    top: 15rem;
    left: 0;
    text-align: center;
    margin: auto;
  }

  .hero_content h2 {
    font-size: 1rem;
    margin: 2rem 0;
  }

  .hero_content p {
    padding: 0;
    text-align: center;
    line-height: 1rem;
  }

  .hero_btn {
    display: none;
  }

  .brands_logo {
    display: none;
  }
}
