@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62%;
}

body {
  background: #0f0f10;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.btn {
  padding: 15px 35px;
  color: #fff;
  background-color: #333;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}
header {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1000;
  height: 70px;
  font-size: 1.5rem;
}

header .logo {
  margin: 0 10rem;
}

nav {
  display: flex;
  align-items: center;
  margin: 0 10rem;
}

nav .btn {
  margin: 0 2rem;
}
.nav-item li {
  list-style: none;
  display: inline-block;
  text-transform: capitalize;
  margin: 0 1rem;
}
.nav-item li a {
  color: #fff;
  text-decoration: none;
}

.main-image img {
  height: 40vh;
  position: relative;
  top: 5rem;
}

section {
  padding: 2rem 9%;
}

.content {
  position: absolute;
  top: 10rem;
  left: 40rem;
  padding: 1rem 20rem;
  margin: 0 2rem;
}

.content .oneear {
  width: 300px;
  height: 40px;
  margin: 0;
  padding: 0 4rem;
}

.content h1,
h2,
p {
  padding: 0 4rem;
}
.content h1 {
  margin: 2rem 0;
  font-size: 4rem;
}

.content h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0;
}
.content p {
  color: #777;
}

.cart-btn {
  background: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  max-width: 35%;
  font-size: 1.2rem;
  padding: 0.5rem 0.6rem;
  margin: 1.5rem 4rem;
}

.cart-btn img {
  width: 15px;
  margin: 0.5rem 0;
}

.cart-btn span {
  color: #fff;
  margin: 0 0.5rem;
}

.brand-logo {
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  right: 20rem;
  top: 5rem;
}

.brand-logo img {
  margin: 2rem 3rem;
  width: 50px;
}

.container {
  position: absolute;
  top: 55rem;
  left: 40rem;
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container .heading {
  position: relative;
  left: 10rem;
  bottom: 4rem;
}
.container .heading img {
  width: 100px;
  margin: 0 0 2rem;
}

.container .icon img {
  width: 10px;
}

.container .icon p {
  padding: 0 3rem;
}
.container .icon span {
  color: #777;
}

.container .specs-image img {
  height: 200px;
  position: absolute;
  top: 2rem;
  right: 1rem;
}

/* case */

.case {
  position: absolute;
  top: 85rem;
  left: 50rem;
  max-width: 100%;
}
.case .case-image img {
  height: 200px;
}

.case .heading {
  position: relative;
  left: 10rem;
  bottom: 2rem;
}

.case .heading img {
  width: 100px;
  margin: 0 0 2rem;
}

.case .case-text p {
  padding: 0 4rem;
  color: #777;
  font-size: 1.2rem;
}

.case-wrapper {
  display: flex;
  align-items: center;
  padding: 2rem 20rem;
  position: relative;
  right: 20rem;
}

.case .btn {
  display: flex;
  margin: 0.5 1rem;
  position: relative;
  top: 5rem;
  right: 25rem;
}

.case .btn img {
  display: flex;
  width: 15px;
  height: 15px;
}
