/* Navbar  start*/
@media (max-width: 1199px) {
  /* Navbar */
  body {
    overflow-x: hidden;
  }
  /* Hero */
  .hero-container {
    flex-direction: row;
    overflow: hidden;
  }

  .hero-left {
    width: 100%;
  }

  .hero-title,
  .hero-desc {
    padding: 0;
  }

  .hero-desc {
    width: 40%;
    margin: 1rem 0;
  }

  .hero-left .hero-title {
    font-size: 3rem;
    width: 50%;
  }

  .btn-hero {
    padding: 0;
  }

  .hero-image {
    right: 20rem;
    top: 3rem;
    padding: 1.9rem;
  }
  figure img {
    height: 510px;
    width: 710px;
  }

  .banner {
    position: absolute;
    height: 170px;
    position: absolute;
    top: 40rem;
  }

  .bannerImg {
    padding: 2rem;
    margin: 2rem 0px;
  }

  /* Service */
  .service-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 5rem 0;
  }
  .service-text {
    flex-direction: column;
    max-width: 600px;
    margin: auto;
  }
  .service-title,
  .service-desc {
    text-align: center;
    padding: 1.5rem 0;
  }
  /* Car choice section */
  .card-image img {
    width: 600px;
    heigh: auto;
  }
}

@media (max-width: 991px) {
  nav {
    flex-direction: column;
  }

  .logo {
    margin: auto;
    padding: 0.5rem;
  }
  .nav-items {
    flex: 1;
  }
  .nav-items li {
    margin: 1rem;
  }

  .nav-right-items {
    margin: 1rem 0;
  }

  .hero-left {
    width: 100%;
  }

  .hero-desc {
    width: 40%;
    margin-top: 2rem;
  }

  .hero-left .hero-title {
    font-size: 3rem;
    width: 60%;
    margin: 3rem 0;
  }

  .hero-image {
    right: 15rem;
    top: 15rem;
  }

  figure img {
    height: 310px;
    width: 490px;
  }

  .banner {
    height: 140px;
    margin: 2rem 0;
  }
  .banner img {
    width: 110px;
  }
  /* Service */
  .service-container {
    max-width: 991px;
    margin: auto;
  }

  .service-img {
    flex-direction: row;
    margin: 0;
  }

  .service-img img {
    width: 80px;
    height: 80px;
  }

  .service-img p {
    font-size: 0.9rem;
    margin: 0;
    padding: 0 1rem;
  }
  .box {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 767px) {
  .logo img {
    width: 120px;
  }
  /* Hero */

  .hero-container {
    width: 100%;
    text-align: center;
  }
  .hero-left .hero-title {
    width: 40%;
    text-align: left;
    font-size: 1.9rem;
    margin: 1.5rem 0;
  }
  .hero-right {
    background-image: url("./images/frontCards.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-right img {
    position: absolute;
    bottom: -8rem;
    left: 12rem;
    width: 320px;
    height: 280px;
    padding: 0 1rem;
  }

  .hero-desc {
    text-align: left;
    width: 40%;
    margin: 1rem 0;
  }

  .btn-hero {
    margin: auto;
    width: 80%;
  }

  .hero-numbers {
    flex-direction: column;
    width: 80%;
  }

  .line {
    display: none;
  }

  h2 {
    font-size: 1.5rem;
  }

  .banner {
    height: 100px;
    margin: 5rem 0;
  }
  .banner img {
    width: 100px;
    padding: 15px;
  }
  /* Service */
  .service-container {
    text-align: center;
    width: 80%;
    margin: auto;
  }
  .service-title {
    font-size: 1.9rem;
    font-weight: 100;
    margin: 0 auto;
  }

  .service-img {
    flex-direction: column;
    margin: 0;
    width: 70%;
  }

  .service-img img {
    width: 120px;
    height: 120px;
  }

  .service-img p {
    font-size: 1rem;
    margin: 0;
    padding: 1rem 0;
  }
  .box {
    width: 250px;
    height: 250px;
  }

  .box-one,
  .box-two,
  .box-three {
    padding: 1rem;
  }
  .box-three {
    margin: 0 auto;
  }
}
