/* Navbar  start*/
@media (max-width: 1199px) {
  /* Navbar */
  nav {
    flex-direction: row;
  }
  ul {
    flex: 1;
    align-items: center;
  }

  li {
    width: 100%;
  }

  .btn-right {
    flex: 1;
    flex-direction: row;
    padding: 2rem;
  }

  /* Hero */
  .hero-container {
    flex-direction: row;
    overflow: hidden;
  }

  .hero-left {
    width: 100%;
  }

  .hero-title,
  .hero-desc {
    padding: 1rem;
  }

  .hero-desc {
    width: 50%;
    margin-top: 2rem;
    padding: 0;
  }

  .hero-left .hero-title {
    font-size: 3rem;
    width: 50%;
  }

  .btn-hero {
    padding: 0;
  }

  .hero-image {
    right: 20rem;
    top: 3rem;
    padding: 1.9rem;
  }
  figure img {
    height: 510px;
    width: 710px;
  }

  .banner {
    position: absolute;
    top: 40rem;
    padding-right: 7.5rem;
  }
}

@media (max-width: 991px) {
  nav {
    flex-direction: row;
  }

  ul {
    flex: 1;
    align-items: center;
  }

  li {
    width: 100%;
    margin: 1.5rem;
  }

  .btn-right {
    width: 100%;
    padding: 2.5rem;
    margin-left: 1rem;
  }

  /* Hero */
  .hero-container {
    flex-direction: row;
  }

  .hero-left {
    width: 100%;
  }

  .hero-desc {
    width: 40%;
    margin-top: 2rem;
  }

  .hero-left .hero-title {
    font-size: 3rem;
    width: 60%;
    margin-bottom: 2rem;
  }

  .hero-image {
    right: 15rem;
    top: 5rem;
  }

  figure img {
    height: 410px;
    width: 610px;
  }
  .banner {
    display: none;
  }
}

@media (max-width: 767px) {
  nav {
    flex-direction: row;
  }

  ul {
    flex: 1;
  }

  li {
    width: 50%;
  }

  button {
    display: block;
    margin: auto;
    text-align: center;
  }
  /* Hero */

  .hero-left .hero-title {
    font-size: 2.5rem;
    text-align: center;
    width: 90%;
  }

  .hero-desc {
    width: 80%;
    text-align: center;
  }

  .hero-numbers {
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
  }

  .line {
    display: none;
  }

  section {
    width: 100vw;
    height: 100vh;
    background: url("./images/frontCards.png") no-repeat center center;
    background-size: cover;
    background-color: bisque;
  }

  /* figure img {
    height: 300px;
    width: 500px;
    opacity: 0;
  } */

  .hero-image {
    display: none;
  }
}
