/* Navbar  start*/
@media (max-width: 1199px) {
  /* Navbar */
  nav {
    flex-direction: row;
  }
  ul {
    flex: 1;
    align-items: center;
    /* justify-content: space-between; */
  }

  li {
    width: 100%;
  }

  /* Hero */
  .hero-container {
    flex-direction: row;
    overflow: hidden;
  }

  .hero-left {
    width: 100%;
  }

  .hero-title,
  .hero-desc {
    padding: 1rem;
  }

  .hero-desc {
    width: 50%;
    margin-top: 2rem;
    padding: 0;
  }

  .hero-left .hero-title {
    font-size: 3rem;
    width: 50%;
  }

  .btn-hero {
    padding: 0;
  }

  .hero-image {
    right: 20rem;
    top: 1rem;
    padding: 1.9rem;
  }
}

@media (max-width: 991px) {
  nav {
    flex-direction: row;
  }

  ul {
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
  }
}

/* Hero */
/* Hero */
.hero-container {
  flex-direction: row;
}

.hero-left {
  width: 100%;
}

.hero-title,
.hero-desc {
  padding: 1rem;
}

.hero-desc {
  width: 50%;
  margin-top: 2rem;
  padding: 0;
}

.hero-left .hero-title {
  font-size: 3rem;
  width: 50%;
}

.hero-image {
  right: 20rem;
}

@media (max-width: 767px) {
  nav {
    flex-direction: row;
  }

  .logo img {
    width: 90px;
  }

  ul {
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
    width: 100%;
  }

  li {
    width: 100%;
    padding: 0.2rem;
    margin-right: 0;
  }

  /* li:last-child {
    display: none;
  } */

  /* .btn-right {
    margin-left: 1.2rem;
    border: none;
    justify-content: center;
    align-items: center;
  } */

  /* .btn-right button {
    font-size: 1.2rem;
    width: 100%;
    flex: 3;
    flex-direction: row;
  } */

  /* .btn-pink {
    background-image: none;
  } */

  /* .arrow {
    margin: 0.3rem;
  } */
}
