@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Noto+Serif+Tibetan:wght@200;400;500&family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #111111;
}
/* Navbar Start */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  margin: 1.5rem 0;
}

.logo {
  flex: 0 0 auto;
}

.nav-items {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-items li {
  margin: 0 1rem;
}

.right-nav-items,
.eng-btn {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.arrow {
  padding: 0 0.5rem;
}

.right-nav-items li {
  margin: 0 1rem;
}

.btn-pink {
  background-image: url("./Icons/btn-pink-bg.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
}

/* Navbar End */

/* Hero Section Start */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  color: #fff;
}

.hero-left {
  width: 60%;
  position: absolute;
  top: 10rem;
  left: 5rem;
}

.hero-left .hero-title {
  font-size: 4.3rem;
  font-weight: 400;
  padding: 0.2rem;
}

.hero-left .hero-title span {
  color: #df1ed5;
}

.hero-desc {
  padding-right: 20.8rem;
  margin: 3rem 0;
  color: #8b8b8b;
  font-size: 1.2rem;
}

button {
  display: flex;
  align-items: center;
  background: #111111;
  color: #fff;
  border: none;
  padding: 1rem;
}

.btn-hero {
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 1.5rem;
  border: none;
}

.btn-hero {
  background-image: url(./Icons/btn-pink-bg.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.btn-hero::after {
  content: url(./Icons/RightArrow.svg);
  padding: 1.2rem;
}

h2 {
  font-size: 2.3rem;
}

.plus {
  color: #df1ed5;
}

.hero-numbers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}

.hero-happyusers p {
  font-size: 1.4rem;
}

.hero-image {
  width: 40%;
  padding: 5rem;
  position: absolute;
  top: 0;
  right: 15rem;
}

figure img {
  height: 610px;
  width: 810px;
}
.img-back {
  position: absolute;
  top: 0px;
  left: 0px;
}

.img-front {
  position: relative;
  bottom: 50px;
  left: 110px;
  z-index: 1;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.banner-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 4rem 0px;
}

.banner {
  position: relative;
  height: 200px;
  background-color: #212121;
  bottom: 0;
  top: 20rem;
  width: 100%;
}

/* Service */
.service-container {
  color: #fff;
  margin: 1rem 2rem;
}

.service-text {
  display: flex;
  margin: 2.5rem 0;
  padding: 0 2rem;
}

.service-title {
  font-size: 3rem;
  font-weight: 400;
  padding: 0 3rem;
  margin: 0 1rem;
}

.service-title span {
  color: #df1ed5;
}

.service-desc {
  margin: 2rem 1.5rem;
  padding: 0 4rem;
  letter-spacing: 1.5px;
  color: #938d8d;
}

.service-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.service-img img {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  margin: auto;
}

.service-img p {
  text-align: center;
  margin-top: 1.5rem;
}

.box {
  border: 1px solid #fff;
  height: 210px;
  width: 210px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.box:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-box-shadow: 3px 3px 5px #000;
  -moz-box-shadow: 3px 3px 5px #000;
  box-shadow: 3px 3px 5px #000;
}

.box-one,
.box-two,
.box-three {
  margin: 3rem 2rem;
  border-image: linear-gradient(to right, #8b8b8b, #212121) 1;
}

.box-two {
  position: relative;
  bottom: 2rem;
  background: linear-gradient(to top, #8b8b8b, #212121);
}

.box-one,
.box-three {
  background-color: #212121;
}

/* Card Choice Section Start */
.cardchoice-container {
  background-color: #fceffb;
  width: 100%;
  margin: auto;
  text-align: center;
}

.cardchoice-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardchoice-title {
  font-size: 3.5rem;
  font-weight: 400;
  margin: 2rem 0;
  text-align: center;
  padding: 0 3rem;
  width: 60%;
}

.cardchoice-title span {
  color: #df1ed5;
}

.cardchoice-desc {
  width: 40%;
}

/* Testimonial start */

/* .testimonial-container {
 
} */

.testimonial-text {
  text-align: center;
  color: #8b8b8b;
  padding: 1rem 22rem;
  margin: 2rem 0;
}

.testimonial-title {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
}

.testimonial-title span {
  color: #df1ed5;
}

.testimonial-desc {
  text-align: center;
  padding: 0 8rem;
  margin: 2rem 0;
}

.card-container {
  color: #8b8b8b;
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
}

.card:first-child {
  background: linear-gradient(to right, #222, #938d8d);
  color: #fceffb;
  border-image: linear-gradient(to left, #8b8b8b, #212121) 1 solid;
}

.card {
  background-color: #18191d;
}

.card {
  border: solid;
  border-image: linear-gradient(to bottom, #8b8b8b, #212121) 1;
  margin: 5px 0;
  width: calc(50% - 150px);
}

.card-text {
  margin: 0 0.5rem;
}

.card-star img {
  width: 150px;
  padding: 0.5rem 1.5rem;
}

.card-review,
.name {
  padding: 0.5rem 1rem;
}

.testimonial-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}

.circle-1 {
  width: 70px;
  height: 12px;
  border-radius: 15px;
  background-color: #df1ed5;
  margin: 0 0.5rem;
}

.circle-2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #363636;
  margin: 0 0.5rem;
}

/* Footer Section */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  color: #fff;
}

.footer-wrapper {
  margin: 0;
}

.footer-title {
  position: relative;
  text-align: center;
  top: 12rem;
  font-size: 3rem;
  z-index: 1;
  padding: 0 10rem;
  margin: 0 10rem;
  font-weight: 600;
}

.footer-title span {
  color: #18191d;
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 24rem;
  z-index: 1;
  font-weight: bold;
}

.footer-btn::before {
  display: flex;
  content: url("./Icons/btn-pink-bg.svg");
  width: 20px;
  align-items: center;
}

.footer-btn::after {
  content: url("./Icons/RightArrow.svg");
  margin: 0 1rem;
}

.footer-banner1 img,
.footer-banner2 img {
  height: 300px;
  width: 100vw;
}

.footer-banner2 {
  position: relative;
  bottom: 19rem;
}

.banner-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.links {
  display: flex;
  list-style: none;
  align-items: center;
}

.link-items {
  margin: 0 0.5rem;
}
