@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .content {
    width: 100%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

  header .logo img {
    width: 100px;
  }

  .content {
    width: 100%;
  }

  .card:nth-child(2) {
    position:  relative;
    top: 0;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #111;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 1rem 2rem;
  }
  header .navbar a {
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading span {
    font-size: 2.5rem;
  }

  .hero,
  .hero-banner {
    width: 100%;
  }
}
