:root {
  --blue: #0a6fca;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #111;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

header .navbar a {
  color: #777;
  font-size: 2rem;
  margin: 0 0.8rem;
}

header .navbar a:hover {
  color: var(--blue);
}

header .navbar-btn button {
  margin-right: 2rem;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 20px;
  color: #fff;
  padding: 1.2rem 3rem;
  cursor: pointer;
  background-color: var(--blue);
}
header .navbar-btn button:hover {
  color: #111;
  background-color: #fff;
}
header .navbar .active {
  color: #fff;
}
header .navbar .active:hover {
  border-bottom: 2px solid var(--blue);
}

/* Hero Section */
.hero {
  background: #111;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

/* .content {
  flex: 1 1 20rem;
} */

.hero .content h1 {
  font-size: 4.9rem;
  color: #fff;
}

.hero .content h1 em {
  color: #0a6fca;
}

.hero .content p {
  font-size: 2rem;
  color: #fff;
  margin: 4rem 1rem;
  color: #777;
}

.button-group .btn {
  margin: 0.9rem;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

.button-group .btn-blue {
  background: #0a6fca;
  color: #fff;
}

.button-group .btn-blue:hover {
  background: #77b9f3;
}

.button-group .btn-black {
  background: #111;
  color: #fff;
  border: 1px solid #fff;
}

.button-group .btn-black:hover {
  background: #999;
}

.hero .image {
  flex: 1 1 40rem;
  flex-flow: column;
}

.hero .image img {
  width: 100%;
  height: 450px;
  margin: 7rem 0;
}

.hero-banner {
  background-color: #171616;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1rem 2rem;
  width: 100%;
}
.hero-banner img {
  margin: 0 4rem;
}
