body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 25px;
  font-size: 18px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
